body {
	color: #000000;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	padding-top: 1px;
}

body.dark-theme {
	color: #eeeeee;
	background: #343a40;
}

input[type=checkbox] {
    transform: scale(1.5);
}

body.dark-theme .left-nav{
	background-color: #000029;
}
body.dark-theme .top-nav{
	background-color: #444444;
}
body.dark-theme div{
	border-color: white;
}
body.dark-theme label{
	color: white;
}
.left-nav{
	background-color: darkblue;
}
.top-nav{
	background-color: white;
}

body.dark-theme .main-div {
	color: #eeeeee;
	background: #333333;
}

h5, p, label {
	color: #000000;

}

body.dark-theme h5, body.dark-theme p {
	color: #ffffff;
}

.btn-toggle{
	background-color: #343a40;
	color: #dae0e5;
	border-radius: 5px;
}

p {
	margin: 20px 0;
	size: 50px;
	white-space: pre-wrap;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
